<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="writable/.phpunit.cache">
    <testsuites>
        <testsuite name="WordImport">
            <directory>tests/WordImport</directory>
        </testsuite>
        <testsuite name="Realtime">
            <directory>tests/Realtime</directory>
        </testsuite>
        <testsuite name="Resilience">
            <directory>tests/Resilience</directory>
        </testsuite>
        <!-- Suite Throttling butuh framework; dijalankan lewat konfigurasi
             terpisah phpunit.throttling.xml.dist (bootstrap_ci.php). Sengaja
             TIDAK di sini agar `composer test` (bootstrap ringan) tetap hijau. -->
    </testsuites>
</phpunit>
